<div class="row">
    <div class="col-xs-12">
        <h3 class="">Sub Category Title</h3>
        <p class="">Sub category description</p> <br>
    </div>
    <hr>
    <div class="col-xs-12">        
        <app-reference-item 
            *ngFor="let ref of listOfRefs"
            [reference]="ref"
            (referenceSelected)="onReferenceSelected(ref)">

        </app-reference-item>
    </div>
    <div class="col-xs-12">
        <br> <br>
        <app-reference-edit></app-reference-edit>        
    </div>

</div>
