<div class="container">

        
    <div class="row">
        <div class="col-xs-3"> <img routerLink = "/sub-category" class="rounded-circle" src="{{categoryCloudObject.imagePath}}" 
          alt="Generic placeholder image" width="140" height="140"> 
          <h2>{{categoryCloudObject.header}}</h2>          
          <p>{{categoryCloudObject.description}}</p>    

            <button 
              type="button" 
              class="btn btn-info"
              (click) = "toggleDisplay()" >
              Ændre på Cloud teksten
            </button>
        </div>


        <div class="">
            <div class="col-xs-3"> <img class="rounded-circle" src="https://www.logolynx.com/images/logolynx/s_08/087dd16819b99456866c0dc88cf5369d.jpeg" 
              alt="Generic placeholder image" width="140" height="140"> 
              <h2>Web</h2>
              
              <p>Vi laver webløsninger tilpasset dine krav og ønsker Uanset om det er websites, 
                platforme eller integrationer kan vi sikre dig en fremtidssikret og responsiv løsning. 
                Vi benytter bl.a. Angular i vores webprogrammering</p>
        
                <button type="button" class="btn btn-info">Ændre på Web teksten</button>
            </div>
          


          <div class="">
            <div class="col-xs-3"> <img class="rounded-circle" src="https://cdn0.iconfinder.com/data/icons/mobile-device/512/mobile-phone-blue-round-2-512.png" 
              alt="Generic placeholder image" width="140" height="140"> 
              <h2>Mobile</h2>
              
              <p>Vi kan udvikle din næste mobilapp eller mobile projekt Vi laver native 
                apps til IOS og Android som både er hurtige og samtidig overholder stigende
                 krav fra Apple og Google. Vi laver også mobilapps til din Cloud- eller webløsning.</p>
        
                <button type="button" class="btn btn-info">Ændre på Mobile teksten</button>
            </div>
          </div>

          <div class="">
            <div class="col-xs-3"> <img class="rounded-circle" src="https://www.seekpng.com/png/detail/28-287453_outbound-call-support-tech-support-icon-blue.png" 
              alt="Generic placeholder image" width="140" height="140"> 
              <h2>Support</h2>
              
              <p>Lad os håndtere din IT for dig Vi leverer abonnements baserede
                 IT løsninger til mindre virksomheder som ikke kan eller vil selv. 
                 Det kalder vi IT-as-a-Service.</p>
        
                <button type="button" class="btn btn-info">Ændre på Support teksten</button>
            </div>
           </div>
        </div>
        <div class="col-xs-12">
            <form class="example-form" [hidden] = "isShow">
              <mat-form-field floatLabel="always">              
                <textarea 
                  style="height: 200px;" 
                  matInput placeholder="" 
                  (input)="categoryHelperObject.description = $event.target.value">
                    {{categoryCloudObject.description}}
                </textarea>
                <button mat-raised-button color="primary" (click) = "gemCloudText()" >Gem</button>
                &nbsp;
                <button mat-raised-button color="warn" (click) = "toggleDisplay()">Fortryd</button>
              </mat-form-field>                
          </form>
        </div>

    </div>
</div>