<div class="container">        
    <div class="row" >
        <div class="col-xs-3" *ngFor="let category of listOfCategories"> 
          <img routerLink = "/sub-category" 
              style="cursor: pointer;" 
              class="rounded-circle" 
              src="{{category.imagePath}}" 
              alt="Generic placeholder image" 
              width="140" 
              height="140"> 
          <h2>{{category.header}}</h2>          
          <p>{{category.description}}</p>    

            <button 
              type="button" 
              class="btn btn-info"
              (click) = "openDialog(category.header, category.description)" >
              Ændre på Cloud teksten
            </button>
        </div>       
    </div>
</div>