<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <ul>
      <mat-nav-list>
        <a mat-list-item routerLink="/sub-category" >Cloud</a>
          <ul>
            <mat-nav-list class="sub-categories">
              <a mat-list-item >IOT</a>
              <a mat-list-item >Azure</a>
              <a mat-list-item >Database</a>
            </mat-nav-list>
          </ul>
        <a mat-list-item >Mobile</a>
        <a mat-list-item >Apps</a>
        <a mat-list-item >Support</a>
      </mat-nav-list>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<button mat-button (click)="dothis()">Press me<button>
<!-- 
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened>
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content>
    Main content
  </mat-sidenav-content>
</mat-sidenav-container> -->