<div class="container" >


    <div class="row">

      <div *ngFor="let subCategory of listOfSubCategory">
        <div class="col-xs-4"> 
          <h2>{{subCategory.header}}</h2>
          <p>{{subCategory.description}}</p>
            <button type="button" class="btn btn-info">Ændre på Cloud teksten</button>
        </div>

      </div>
        <!-- <div class="col-xs-4"> 
          <h2 routerLink="/references" style="cursor:pointer;">Microsoft Azure</h2>
          
          <p>Ny løsning, migrering af eksisterende, eller kombination af begge?</p>

          <br>

            <p>Vi rådgiver, designer, udvikler, implementerer og drifter sikre IT infrastruktur projekter baseret på Microsoft Azure</p>
    
            <button type="button" class="btn btn-info">Ændre på Cloud teksten</button>
        </div>


        <div class="">
            <div class="col-xs-4"> 
              <h2>Internet of things </h2>
              
              <p>Brug for unikke IoT løsninger, der dækker netop dine behov? </p>

              <br>

               <p> Vi laver løsninger til bl.a. overvågning, målinger, logistik og automatiserede processer, som blot er et lille udsnit af hvad vi kan.</p>
        
                <button type="button" class="btn btn-info">Ændre på Web teksten</button>
            </div>
          </div>


          <div class="">
            <div class="col-xs-4"> 
              <h2>Databaser</h2>
              
              <p>Ny løsning, migrering af eksisterende, eller kombination af begge?</p>
                
                <br>

                <p>Vi rådgiver, designer, udvikler, implementerer og drifter sikre IT infrastruktur projekter baseret på Microsoft Azure</p>
        
                <button type="button" class="btn btn-info">Ændre på Mobile teksten</button>
            </div>
          </div>

          -->

    </div>
</div>